{{ define "main" }}
<h1 class="site-title"><a href="{{ "/" | relURL }}">{{ $.Site.Title }}</a></h1>
{{- partial "theme_toggle.html" . -}}

<!-- {{ partial "back_link.html" .}} -->

<article>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>

    <h1>{{ .Title }}</h1>

    {{ if .Params.toc }}
    <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
        {{ .TableOfContents }}
    </aside>
    {{ end }}

    {{ .Content }}
</article>
{{ end }}